/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9e6fd;
    color: #252529;
}

a {
    text-decoration: none;
    color: #0d0b25;
}

header {
    background-color: #bef0f7;
    padding: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #0e0b1b;
}

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

h1, h2 {
    color: #060820;
}

img {
    max-width: 60%;
    border-radius: 6px;
}

/* Layouts */
.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #a9d8db;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    margin-top: 20px;
}

.about, .services, .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.about img, .projects img, .services img {
    flex: 1 1 45%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects div, .services div {
    background-color: #a7cef3;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #e3f7fd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #c0d9fc;
    color: rgb(36, 37, 48);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ace4fa;
}

footer {
    background-color: #badaf8;
    text-align: center;
    padding: 20px 0;
}
