/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6e3b07;
    color: #faf6f4;
}

a {
    text-decoration: none;
    color: #faf7f6;
}

header {
    background-color: #582f04;
    padding: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #180000;
}

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

h1, h2 {
    color: #f8f0ee;
}

img {
    max-width: 60%;
    border-radius: 6px;
}

/* Layouts */
.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #5f3a0f;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    margin-top: 20px;
}

.about, .services, .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.about img, .projects img, .services img {
    flex: 1 1 45%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects div, .services div {
    background-color: #5e3710;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #fae8dd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #663333;
    color: rgb(252, 249, 249);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4b3b38;
}

footer {
    background-color: #72400b;
    text-align: center;
    padding: 20px 0;
}
